<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>    
    <%- include('../partials/user-side-nav') %>
    
    <!-- Page Content -->
        <div class="container">
            <%- include('../partials/header') %>
            
            <form accept-charset="UTF-8" method="POST" action="/users/change_password" enctype="multipart/form-data" role="form">
                
                <div class="row">
                        <center>
                             <h3>Change Password </h3>
                            
                        <% if(errors){ %>
                            <% errors.forEach(function(error){ %>
                                <div class="alert alert-danger" style="width:50%;">
                                   <%= error.msg %>
                                </div>
                            <% }) %>
                        <% } %>


                <div class="col-md-6 col-md-offset-3">
                        <div class="form-group label-floating">
                            <label class="control-label" for="password1">Old Password</label>
                            <input type="password" name="password1" class="form-control" id="password1" >

                        </div>
                    </div>

                    <div class="col-md-6 col-md-offset-3">
                            <div class="form-group label-floating">
                                <label class="control-label" for="password2">New Password</label>
                                <input type="password" name="password2" class="form-control" id="password2" >
    
                            </div>
                        </div>
                    
                        <div class="col-md-6 col-md-offset-3">
                                <div class="form-group label-floating">
                                    <label class="control-label" for="title">Confirm new password</label>
                                    <input type="password" name="title" class="form-control" id="title" >
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                </div>
                            </div>
                            

                    
                    

                <div class="col-md-12 text-center">
                <button type="submit" name="submit" class="btn btn-primary">Add Post</button>
                </div>
                
                <div class="clearfix"></div>
            </form>
              
        </div>
          <!-- /.container -->

    <%- include('../partials/footer') %>
    <!-- <script src="/ckeditor2/ckeditor.js"></script> -->
    <!-- <script>
        CKEDITOR.replace('body');
    </script> -->
    
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/jquery-3.2.1.js"></script>
  </body>
</html>
