<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>    
      <div class="container">
            <%- include('../partials/user-side-nav') %>
      
    
    <!-- Page Content -->
        <div class="container" style="height:70%;">
            <%- include('../partials/header') %>
            
            
            <form accept-charset="UTF-8" method="POST" action="/posts/add_post" enctype="multipart/form-data" role="form">
                
                <div class="row-md-12">
                        <center>
                             <h3>Add New Post </h3>
                            
                        <% if(errors){ %>
                            <% errors.forEach(function(error){ %>
                                <div class="alert alert-danger" style="width:50%;">
                                   <%= error.msg %>
                                </div>
                            <% }) %>
                        <% } %>
                        </center>

                <div class="col-md-6 col-md-offset-3">
                        <div class="form-group label-floating">
                            <label class="control-label" for="title">Post Title</label>
                            <input type="text" name="title" class="form-control" id="title" >

                        </div>
                    </div>
                    
                    <div class="col-md-6 col-md-offset-3">
                            <label for="category">Select Category</label>
                            <select class="form-control" id="category" name="category">
                                <option value="">--Select -- category--</option>
                                <% categories.forEach(function(category){ %>
                                    <option value="<%= category._id %>"> <%= category.cat_name %> </option>
                                <% }) %>
                              
                            </select>
                    </div>
                    
                        <div class="col-md-6 col-md-offset-3">
                            <div class="form-group label-floating">
                                <label class="control-label">Post Details</label>
                                <textarea style="resize:none;" name="body" class="form-control" rows="7"></textarea>
    
                            </div>
                        </div>

                        <div class="col-md-6 col-md-offset-3">
                        <div class="form-group">
                            <label for="picture">Upload a picture (optional)</label>
                            <input type="file" class="form-control" id="post_img" name="post_img" accept="image/*">
                          </div>
                        </div>

                <div class="col-md-12 text-center">
                <button type="submit" name="submit" class="btn btn-primary">Add Post</button>
                </div>
                
                <div class="clearfix"></div>
            </form>
            <%- include('../partials/footer') %>
        </div>
          <!-- /.container -->
        </div>
    
    <!-- <script src="/ckeditor2/ckeditor.js"></script> -->
    <!-- <script>
        CKEDITOR.replace('body');
    </script> -->
    
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/jquery-3.2.1.js"></script>
  </body>
</html>
