<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>    
      <%- include('../partials/header') %>
      
   

    <!-- Page Content -->
    <div class="container">
        <%- include('../partials/user-side-nav') %>
              <div class="row">
      
                  <!-- Blog Entries Column -->
                  <div class="col-md-12-sm-4">

                   <% if(posts.length > 0){ %>
                    <center><h1 class="my-6"><b>Your Posts</b></h1></center>
                      <!-- Blog Post -->
                      <% posts.forEach(function(post){ %>
                        <div class="card mb-4 well">
                        
                          <div class="card-body">
                              <h2  class="card-title"><b> <%= post.title %> </b></h2>
                              <% if(post.post_img != ''){ %>
                                <% var img = post.post_img.path.substring(6); %>
                                <img class="card-img-top img-responsive" src="<%= img %>" alt="Card image cap">
                              <% } %>
                              <% var body = post.body.substring(0,230); %>
                              <p class="card-text"><%= body %>...</p>
                              
                              <a href="/posts/get_post/<%= post._id%>" class="btn btn-primary">Read More &rarr;</a>
                          </div>
                          <div class="card-footer text-muted">                              
                             <p> Posted by <a href="#"> <%= post.author %> </a> on  <%= moment(post.date).format("MM-DD-YYYY") %>  </p>
                          </div>
                      </div>
                      <% }); %>
      
                      <!-- Pagination -->
                      <ul class="pagination justify-content-center mb-4">
                          <li class="page-item"><a class="page-link" href="#">&larr; Older</a></li>
                          <li class="page-item disabled"><a class="page-link" href="#">Newer &rarr;</a></li>
                      </ul>
      
                  </div>
                </div>
                   <%}else{%>
                        <h5>You currently have  have no post. <a href="/posts/add_post">click here to create a post</a> </h5>
                   <%}%>
                    
                     
      
                  
                  <%- include('../partials/footer') %>
              </div>
              <!-- /.row -->
              
          </div>
          <!-- /.container -->

    
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/jquery-3.2.1.js"></script>
  </body>
</html>
